@model IEnumerable<Adikov.Domain.Queries.FaqCategories.FaqCategoryDetails>
    
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase"> Список категории </span>
        </div>
    </div>
    <div class="portlet-body">
        @if (Model.Any())
        {
            @Html.Partial("_FaqCategoryList", Model)
        }
        else
        {
            <h3 style="text-align: center;">Нет записей</h3>
            <br />
        }
    </div>
</div>