@model Adikov.Domain.Queries.FaqRequests.FaqRequests

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-question-circle font-yellow-crusta"></i>
            <span class="caption-subject font-dark bold font-yellow-crusta uppercase">Ожидающие запросы</span>
            @if (Model.OpenRequestsCount == 0)
            {
                <span class="caption-helper">нет новых запросов...</span>
            }
            else
            {
                <span class="badge badge-warning badge-roundless"> @Model.OpenRequestsCount </span>
                <span class="badge badge-danger badge-roundless"> @Model.DeclinedRequestsCount </span>
            }
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title="Свернуть/Развернуть"> </a>
            <a href="" class="fullscreen" data-original-title="" title="На полный экран"> </a>
            <a href="" class="remove" data-original-title="" title="Удалить"> </a>
        </div>
    </div>
    <div class="portlet-body">
        @Html.Partial("_FaqRequestList", Model.PendingRequests)
    </div>
</div>