@model Adikov.Domain.Queries.Faq.FaqRequests

<div class="portlet light ">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="fa fa-question-circle font-purple-plum"></i>
            <span class="caption-subject font-dark bold font-purple-plum uppercase">Запросы</span>
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#portlet_requests_1" data-toggle="tab"> Ожидающие </a>
            </li>
            <li>
                <a href="#portlet_requests_2" data-toggle="tab"> Принятые </a>
            </li>
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane active" id="portlet_requests_1">
                @Html.Partial("_FaqRequestList", Model.PendingRequests)
            </div>
            <div class="tab-pane" id="portlet_requests_2">
                @Html.Partial("_FaqRequestList", Model.ApprovedRequests)
            </div>
        </div>
    </div>
</div>