@model Adikov.ViewModels.Faq.IndexViewModel

@{
    ViewBag.Title = "FAQ";
}

<div class="faq-page faq-content-1">
    @Html.Partial("_FaqSearch")
    @Html.Partial("_FaqContent", Model.Categories)
</div>

@section page_styles
{
    <link href="~/Content/assets/pages/css/faq.min.css" rel="stylesheet" type="text/css">
}

@section scripts
{
    <script src="~/Content/js/faq.js" type="text/javascript"></script>
}