@model Adikov.ViewModels.Faq.RequestsViewModel

@{
    ViewBag.Title = "Запросы на FAQ";
}

<div class="row">
    <div class="col-lg-6 col-xs-12 col-sm-12">
       @Html.Partial("_FaqRequestPortlet", Model.Requests)
    </div>
    <div class="col-lg-6 col-xs-12 col-sm-12">

    </div>
</div>