@model Adikov.ViewModels.PriceListLinks.AddPriceListLinkViewModel

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase"> Добавление новой записи </span>
        </div>
    </div>
    <div class="portlet-body">
        @Html.Partial("_AddPriceListLinkForm", Model)
    </div>
</div>