<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase"> Ответы FAQ </span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Add", "FaqItem")" class="btn btn-circle red-sunglo ">
                <i class="icon-plus"></i> Добавить
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <h3 style="text-align: center;">Нет записей</h3>
        <br />
    </div>
</div>