@model Adikov.ViewModels.FaqItems.AddFaqItemViewModel

@{
    ViewBag.Title = "Добавление ответа в FAQ";
}

<div class="row">
    <div class="col-md-9">
        @Html.Partial("_AddFaqItemPortlet", Model)
    </div>
    <div class="col-md-3">
        @if (Model.Request != null)
        {
            @Html.Partial("_FaqRequestInfoPortlet", Model.Request)
        }
    </div>
</div>

@section plugin_styles
{
    <link href="~/Content/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
}

@section scripts
{

    <script src="~/Content/assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Content/js/faq.js" type="text/javascript"></script>
}
