@model Adikov.ViewModels.FaqItems.IndexViewModel

@{
    ViewBag.Title = "Ответы FAQ";
}

<div class="row">
    <div class="col-lg-8">
        @if (Model.ActiveItems.Any())
        {
            foreach (var item in Model.ActiveItems)
            {
                @Html.Partial("_FaqItemPortlet", item)
            }
        }
        else
        {
            @Html.Partial("_FaqItemEmptyPortlet")
        }
    </div>
    <div class="col-lg-4">
        @Html.Partial("_DeletedFaqItemsPortlet", Model.DeletedItems)
    </div>
</div>