@model Adikov.ViewModels.About.AboutCompanyViewModel

@{
    ViewBag.Title = "Об организации";
}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-pencil font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase"> Настройки об организации </span>
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("AboutCompany", "About", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Заголовок </label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Введите текст заголовка" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Контент </label>
                    <div class="col-md-4">
                        @Html.TextAreaFor(m => m.HtmlContent, new { @class = "form-control", placeholder = "Введите контент", rows = 5 })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Видео </label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.VideoUrl, new { @class = "form-control", placeholder = "Введите ссылку на видео" })
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">Сохранить</button>
                        <a class="btn default" href="@Url.Action("Index")">Отмена</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>