@using System.Web.Mvc.Html
@using Adikov.ViewModels.ProductCategory

@model ProductCategoryIndexViewModel

<div class="portlet light">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="icon-list font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase"> Все категории </span>
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#portlet_tab-active" data-toggle="tab"> Активные </a>
            </li>
            <li>
                <a href="#portlet_tab-deleted" data-toggle="tab"> Удаленные </a>
            </li>
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane active" id="portlet_tab-active">
                @Html.Partial("_ProductCategoryListTable", Model.ActiveCategories)
            </div>
            <div class="tab-pane" id="portlet_tab-deleted">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <a href="@Url.Action("RecoveryAll")" class="btn sbold green">
                                    <i class="icon-action-undo"></i>
                                    Восстановить все
                                </a>
                                @LinkHelper.ConfirmationLink(
                                    "Очистить всё",
                                    Url.Action("Clear"),
                                    "btn btn-danger",
                                    "fa fa-trash-o")
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial("_ProductCategoryListTable", Model.DeletedCategories)
            </div>
        </div>
    </div>
</div>