
@{
    ViewBag.Title = "Категории";
}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-speech"></i>
            <span class="caption-subject bold uppercase"> @ViewBag.Title </span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Add")" class="btn btn-circle btn-default">
                <i class="fa fa-plus"></i> Добавить
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Иконка </th>
                        <th> Название </th>
                        <th> Тип </th>
                        <th> Действия </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1 </td>
                        <td> Mark </td>
                        <td> Otto </td>
                        <td> makr124 </td>
                        <td>
                            <span class="label label-sm label-success"> Approved </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>