@model Adikov.ViewModels.Categories.CategoryAddViewModel

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase"> Добавление новой категории </span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Index")" class="btn btn-circle red-sunglo ">
                <i class="icon-action-undo"></i> Назад
            </a>
        </div>
    </div>
    <div class="portlet-body">
        @Html.Partial("_AddCategoryForm", Model)
    </div>
</div>