@model Adikov.ViewModels.Categories.CategoryAddViewModel

@using (Html.BeginForm("Add", "Category", null, FormMethod.Post, new { id = "product-category-form", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="form-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Название <span class="required" aria-required="true"> * </span></label>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Название" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Иконка <span class="required" aria-required="true"> * </span></label>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Icon, new { @class = "form-control", placeholder = "Иконка" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Тип <span class="required" aria-required="true"> * </span></label>
            <div class="col-md-4">
                <select class="form-control" data-val="true" data-val-required="Требуется поле Type." id="Type" name="Type">
                    <option selected="selected" value="0">Разные</option>
                    <option value="1">Одиночка</option>
                    <option value="2">Идентичные</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Картинка <span class="required" aria-required="true"> * </span></label>
            <div class="col-md-4">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="Картинка не выбрана" />
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                    <div>
                        <span class="btn default btn-file">
                            <span class="fileinput-new"> Выбрать </span>
                            <span class="fileinput-exists"> Изменить </span>
                            <input type="file" name="Image"> 
                        </span>
                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Удалить </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn green">Добавить</button>
                <button type="reset" class="btn default">Очистить</button>
            </div>
        </div>
    </div>
}