@model Adikov.ViewModels.Tables.TableEditViewModel

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase"> Редактирование таблицы </span>
        </div>
    </div>
    <div class="portlet-body">
        @Html.Partial("_EditTableForm", Model)
    </div>
</div>