@model Adikov.ViewModels.Tables.TableEditViewModel

@using (Html.BeginForm("Edit", "Table", null, FormMethod.Post, new { id = "table-form", @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Название <span class="required" aria-required="true"> * </span></label>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Название" })
            </div>
        </div>
        <div class="mt-repeater">
            <div data-repeater-list="group-a">
                @foreach (var item in Model.Columns)
                {
                    <div data-repeater-item>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Столбец #<span class="numberable">1</span> <span class="required" aria-required="true"> * </span></label>
                            <div class="col-md-4">
                                <div class="mt-repeater-cell">
                                    @Html.DropDownListFor(m => m.Columns, Model.SelectListItems, new { @class = "form-control mt-repeater-input-inline", fieldname = "Columns", defaultvalue = item })
                                    <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete mt-repeater-del-right mt-repeater-btn-inline">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <a href="javascript:;" data-repeater-create="" class="btn btn-success mt-repeater-add pull-right">
                        <i class="fa fa-plus"></i> Добавить столбец
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn green">Сохранить</button>
                <a class="btn default" href="@Url.Action("Index", "Table", new { id = "" })">Отмена</a>
            </div>
        </div>
    </div>
}