@model Adikov.ViewModels.Blog.EditBlogViewModel
    
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-pencil font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase"> @ViewBag.Title </span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Index")" class="btn btn-circle red-sunglo ">
                <i class="icon-home"></i> Блог
            </a>
        </div>
    </div>
    <div class="portlet-body">
        @Html.Partial("_EditBlogForm", Model)
    </div>
</div>